@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
    font-family: "Chakra Petch", sans-serif;
    background-color: #201b2c;
    color: #8d8d8c;
    line-height: 1.6;
}
  /* header */
h1{
    text-align: center;
    color: #8dc46d;
    margin-bottom: 20px;
}
p{
    text-align: center;
    margin-bottom: 20px;
}
button{
    display: block;
    cursor: pointer;
    margin: auto;
    background-color: #8dc46d;
    color: #ffffff;
    border-radius: 20px;
    width: 50px;
    height: 30px;
} 
button:hover {
    background-color: #5d8f44;
    transition: 0.3s;
}
  /* furmulario */
form{
    background: #2f2841;
    padding: 20px;
    margin: 20px auto;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}
form div{
    margin-bottom: 15px;
}
form label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
form input,form select,form textarea{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
}
form button{
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
  /* lista de despesas */
h2{
    text-align: center;
    color: #ffffff;
    margin-top: 30px;
}
  
ul#listaDespesas {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    max-width: 600px;
}
ul#listaDespesas li {
    background: #fff;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul#listaDespesas li span{
    font-weight: bold;
}
  
ul#listaDespesas li button{
    background-color: #f44336;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 20px;
}
  
ul#listaDespesas li button:hover{
    background-color: #d32f2f;
}
  
    /* Responsividade para telas menmores */
@media (max-width: 768px){
    body {
      margin: 10px;
}
  
    form {
      padding: 15px;
}
  
    ul#listaDespesas li {
      flex-direction: column;
      align-items: flex-start;
}
  
    ul#listaDespesas li button {
      margin-top: 10px;
}
}